.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* 헤더 */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #ddd
}

.header .inner {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    line-height: 100px;
    transition: 0.5s;
}

.header.on .inner {
    height: 70px;
}

.header.on .sub {
    top: 80px;
}

.header.on .gnb::before {
    top: 70px;
}

.header a {
    display: block;
    margin: 0 0 0 20px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
}

.header .gnb>ul>li:hover>a {
    font-weight: 700;
    color: rgba(152, 5, 69);
}

.header .sub {
    height: 0;
    overflow: hidden;

    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    color: #dfdfdf;
    text-align: center;
    width: 100px;
    line-height: 35px;
    transition: 0.5s;
    margin: 10px 0 0 0;
}

.header .gnb:hover>ul>li .sub {
    height: 350px;

}

.header .sub>li>a {
    font-size: 15px;
}

.header .vision {
    line-height: 15px;
}

.header .vision>li {
    padding: 5px 0;
}

.header .sub>li>a:hover {
    background: #fff;
    border-radius: 2px;
    color: rgba(152, 5, 69);
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1xp solid transparent;
    background: rgba(20, 46, 73, 0.705);
    z-index: 999;

    transition: 0.5s;
}

.header .gnb:hover::before {
    height: 290px;
}

.header .vista {
    margin: 0 0 0 40px;
}

/* 메인 */
.main_visual {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 0 0 50px 0;
    z-index: 998;
}

.main_visual .itm {
    position: relative;
    min-height: 878px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130% 130%;
}

.main_visual .itm.on {
    background-size: 100% 100%;
    transition: 4s;
}

.main_visual .main_slide .itm01 {
    background-image: url(../images/dwmain01.JPG);
}

.main_visual .main_slide .itm02 {
    background-image: url(../images/dwmain02.jpg);
}

.main_visual .main_slide .itm03 {
    background-image: url(../images/dwmain03.JPG);
}

.main_visual .slogan {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 -450px;
}

.main_visual h2 {
    color: #fff;
    font-size: 85px;
    font-weight: 900;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    transform: translate(100px, 0);
    text-shadow: 0 0 1px #8a8a8a;
    opacity: 0;
}

.main_visual .itm.on h2 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}


.main_visual .itm p {
    color: #ffffff;

    font-size: 15px;
    text-shadow: 0 0 3px #8a8a8a;
    transform: translate(100px, 0);
    opacity: 0;
}

.main_visual .itm.on p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .menu li {
    position: relative;
    width: 70px;
    height: 30px;
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: rgba(255, 255, 255, 1);
}

.main_visual .menu li.on::after {
    width: 100%;
    transition: 4s;
}

.main_visual .menu li a {
    display: block;
    color: rgba(255, 255, 255, 0.5)
}

.main_visual .menu li.on a {
    font-weight: 600;
    color: rgba(255, 255, 255, 1)
}

.main_visual .menu {
    position: absolute;
    bottom: 150px;
    left: 50%;

    display: flex;
    gap: 10px;

    transform: translate(0, 0);
    margin: 0 0 0 300px;
    padding: 0 15px;
}



/* 컨텐츠 비지니스 */
.main_business {
    position: relative;
    background: #f9f9f9;
    padding: 80px 0;

}

.main_business .title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 60px 0;
}

.main_business .content {
    display: grid;
    grid-template-columns: 200px 500px
}

.main_business .content .left .pic_slide {
    width: 400px;
    left: 10%;
}

.main_business .content .left .pic_slide img {
    height: 350px;
    width: 350px;
    filter: drop-shadow(5px 6px 6px #aaaaaa);
    border-radius: 2px;
}

.main_business .content .left .pic_slide figcaption {
    margin: 15px 0;
    line-height: 25px;
}

.main_business .content .left .pic_slide strong {
    font-size: 25px;
    font-weight: 600;
}

.main_business .content .left .pic_slide p {
    font-size: 15px;
    font-weight: 300;
    color: #636363;
}

.main_business .content .right .product_slide {
    top: 40%;
    left: 50%;
    width: 700px;

}

.main_business .content .right .product_slide .img_box {
    overflow: hidden;

}

.main_business .content .right .product_slide figure:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.main_business .content .right .product_slide figure {
    padding: 5px;

}

.main_business .content .right .product_slide figcaption {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.main_business .arrows {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;
    gap: 10px;

    transform: translate(-50%, -100%);
    margin: 0 0 0 522px;
    padding: 0 15px;

}

.main_business .arrows i {
    font-size: 20px;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

.main_business .arrows i:hover {
    color: rgba(152, 5, 69);
    border: 1px solid rgba(152, 5, 69);
}


@media (max-width: 768px) {
    .business .content {
        flex-direction: column;
    }
}

/* 뉴스 */
.news {
    padding: 100px 0;

}

.news h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 60px 0;
}

.news .content {
    position: relative;
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    gap: 100px;
}


.news .content>* {
    flex: 1;
    line-height: 25px;
}

.news .content h3 {
    font-size: 25px;
    font-weight: 600;
    color: rgba(152, 5, 69);
    text-align: center;
    margin: 0 0 25px 0;
}

.news .content li {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    border-bottom: 1px solid #ddd;

}


.news .content strong {
    font-size: 18px;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

}

.news .content span {
    font-size: 15px;
    color: #8a8a8a;
}

/* 사회공헌 */

.social {
    background: #f9f9f9;
    padding: 100px 0 200px 0;
}

.social h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 60px 0;
}

.social .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.social .inner li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.social .inner li figure {
    overflow: hidden;
}

.social .inner li figure img {
    transition: 0.5s;
}

.social .inner li .content:hover+figure img {
    transform: scale(1.2);
}

.social .inner li:nth-child(even) figure {
    order: -1;
}

.social .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;

    padding: 0 50px;
}

.social .content:hover h3 {
    color: rgba(152, 5, 69);
}

.social .content h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.social .content p {
    font-size: 14px;
    font-weight: 400;
    color: #8a8a8a;
    line-height: 20px;
    cursor: pointer;
}

/* 푸터 */
.footer {
    padding: 25px 0;
    background: #666;
    color: #fff;
    text-align: center;
}

.footer .inner {
    font-size: 14px;
    font-weight: 300;
    color: #dfdfdf;
}

.footer .inner .company {
    color: #adadad;
    margin: 5px;
}

.footer .inner ul {
    display: flex;
    justify-content: center;
}

.footer .inner ul>li {
    padding: 0 15px 10px 15px;
}

.footer .inner ul>li:hover {
    color: #fff;
    font-weight: 400;
}

.to_top {
    position: fixed;
    bottom: 120px;
    right: 150px;

}

.to_top i {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.to_top i:hover {
    background: rgba(152, 5, 69);
}